/* General Selectors */

html {
  font-size: 16px;
  font-family:'Raleway', Helvetica ,sans-serif;
  top:4rem;
  background-color: #F9F9F9;
  color: #555F65;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  transition:all 350ms ease-in-out 0s;
}

a:visited {
  color:#555F65;
}

a:hover {
  color:#ABBAC2;
  text-decoration: underline;
}

img {
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}

body > div:nth-child(2n+2) {
  background-color: #E9EDEF;
}

p {
  line-height: 1.2rem;
}

/* Nav Bar*/


header {
  top: 0;
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:4rem;
  background-color: #EAEDEF;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

nav {
display: flex;
justify-content: center;
align-items: center;
margin-right: 1rem;
}

.navigation {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* First Reading Part */
.FirstRead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReadingPic {
  margin: 2rem 1.5rem;
  width:60%;
}
.ReadingPic img {
  width: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
  width: 70%;
  -webkit-transition: box-shadow 350ms ease-in-out 0;
  transition:box-shadow 350ms ease-in-out 0;
}

.button span {
  color: #F9F9F9;
  padding-top: 1rem;
  margin-bottom: 1rem;

}

.button:hover {
  box-shadow: 5px 10px 8px #888888;
}

.buttonLink:hover {
  text-decoration: none;
}

.FirstRead .word {
  width: 40%;
}

/*Second Reading Part */


.SecondRead {
  display: flex;
}

.describe {
  width: 60%;
  margin:2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SecondRead .ReadingPic{
  width:100%;
  margin:0 0;
  margin-bottom: 2rem;
}

.SecondRead .word {
  text-align: center;
}
.SecondRead .word {
  margin-bottom: 2rem;
}

.SecondRead .word p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.info {
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F9F9F9;
}

.intro:nth-child(2n+1) {
  background-color: #F9F9F9;
}

.pics {
  width: 35%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.intro .explanation {
  width: 65%;
  margin-left: 1.5rem;
}

.explanation a {
  color: #7CBBFF;
  text-decoration: underline;
  transition:all 350ms ease-in-out;
}

.explanation a:hover {
  color:#555F65;
  text-decoration: none;
}

.intro h3, p, a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/** Courses Section **/


.courses {
  text-align: center;
}

.courses h2 {
  margin-top: 2rem;
  padding-top: 2rem;
}

.NamesIntro {
  display: flex;
  flex-wrap: wrap;
  margin:2rem 72px;
  justify-content: space-around;
}

.courseBlock {
  text-align: left;
  background-color: #EAEDEF;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.courseInfo {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

/* Exhibition Section */

.exhibition {
  border-bottom: 1px solid #F9F9F9;
}

.exhibition h2 {
  padding-top: 2rem;
  text-align: center;
}

.general {
  display: flex;
  align-items:flex-start;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.videoPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: auto;
  margin-right: 1.5rem;
}

.picturePart {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.ThesisInfo {
  display: flex;
}

.ThesisInfo:nth-child(500n+1) {
  background-color: #F9F9F9;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.ThesisInfo img {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 35%;
  height: auto;
}

.ThesisAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**Rights section **/

.rights {
  background-color: #F9F9F9 !important;
  margin: 1.5rem 0 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons p {
  margin-right: 0.25rem;
}
.icons i {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

/**Media Queries Section **/

/* Responsive design for screen width less than 600pixels */
@media only screen and (max-width: 600px) {
  /*ruleset for screen less than 480px */
  .describe, .courseBlock img, .courseInfo p, .picturePart, .videoPart h3, .videoPart p,
  .icons, .termLinks {
    display: none;
  }

  html {
    font-size: 12px;
  }

  header {
    display: none;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 5rem;
  }

  .mobileHeader img {
    margin:1rem 1rem;
  }

  .FirstRead {
    flex-direction: column;
  }

  .ReadingPic {
    margin:0 0;
    width: 100%;
  }

  .FirstRead .word {
    width: 100%;
    margin-left: 2rem;
  }


  .SecondRead .info {
    margin-top: 0;
    margin-bottom: 0;
    width:100%;
  }

  .SecondRead .intro {
    flex-direction: column;
  }

  .SecondRead .intro .pics , .explanation{
    width: 100%;
    margin-left: 1.5rem;
  }

  .SecondRead .intro .pics {
    margin-left: 0;
  }

  .explanation {
    margin-bottom: 2rem;
  }

  .intro:nth-child(2n+1) {
    background-color: #F9F9F9;
}

.intro:nth-child(3n+2) {
  background-color: #EAEDEF;
}

  .courses h2 {
    padding-top: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .NamesIntro {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 2rem 2rem;
  }

  .courseBlock {
    width:100%;
    margin-top:1rem;
    margin-bottom: 1rem;
  }

  .general {
    margin-left: 0;
    margin-right: 0;
  }

  .videoPart {
    width: 100%;
    margin-right: 0;
  }

}

@media only screen and (min-width: 600px) {
  .mobileHeader {
    display: none;
  }
}
