/* General Selectors */

html {
  font-size: 16px;
  font: Helvetica;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

a:visited {
}

img {
  width: 100%;
}




/* Nav Bar*/


header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:64px;
  background-color: lightgrey;
}

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

nav {
display: flex;
justify-content: center;
align-items: center;
margin-right: 16px;
}

.navigation {
  margin-left: 8px;
  margin-right: 8px;
}

/* First Reading Part */
.FirstRead {
  top:64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReadingPic {
  margin: 32px 24px;
  width:60%;
}
.ReadingPic img {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 70%;
}

.button span {
  color: white;
  padding-top: 15px;
  margin-bottom: 15px;
}

.FirstRead .word {
  width: 40%;
}

/*Second Reading Part */


.SecondRead {
  display: flex;
}

.describe {
  width: 60%;
  margin:32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SecondRead .ReadingPic{
  width:100%;
  margin:0 0;
  margin-bottom: 32px;
}



.SecondRead .word {
  margin-bottom: 32px;
}

.SecondRead .word p {
  margin-top: 24px;
  margin-bottom: 32px;
}

.info {
  width: 40%;
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pics {
  width: 35%;
  height: auto;
}

.intro .explanation {
  width: 65%;
  margin-left: 24px;
}

.intro h3, p, a {
  margin-top: 8px;
  margin-bottom: 8px;
}
