/* General Selectors */

html {
  font-size: 1rem;
  font: Helvetica;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

a:visited {
}

img {
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}




/* Nav Bar*/


header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height:4rem;
  background-color: lightgrey;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

nav {
display: flex;
justify-content: center;
align-items: center;
margin-right: 1rem;
}

.navigation {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* First Reading Part */
.FirstRead {
  top:4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReadingPic {
  margin: 2rem 1.5rem;
  width:60%;
}
.ReadingPic img {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 70%;
}

.button span {
  color: white;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.FirstRead .word {
  width: 40%;
}

/*Second Reading Part */


.SecondRead {
  display: flex;
}

.describe {
  width: 60%;
  margin:2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SecondRead .ReadingPic{
  width:100%;
  margin:0 0;
  margin-bottom: 2rem;
}



.SecondRead .word {
  margin-bottom: 2rem;
}

.SecondRead .word p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.info {
  width: 40%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pics {
  width: 35%;
  height: auto;
}

.intro .explanation {
  width: 65%;
  margin-left: 1.5rem;
}

.intro h3, p, a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/** Courses Section **/


.courses {
  text-align: center;
}

.course h2 {
  margin-top: 2rem;
}

.NamesIntro {
  display: flex;
  flex-wrap: wrap;
  margin:2rem 72px;
  justify-content: space-around;
}

.courseBlock {
  text-align: left;
  background-color: red;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.courseInfo {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

/* Exhibition Section */

.exhibition {
  border-bottom: 1px solid lightgrey;
}

.exhibition h2 {
  margin-top: 2rem;
  text-align: center;
}

.general {
  display: flex;
  align-items:flex-start;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.videoPart {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin-right: 1.5rem;
}

.picturePart {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.ThesisInfo {
  display: flex;
}

.ThesisInfo img {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 35%;
  height: auto;
}

.ThesisAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**Rights section **/
.rights {
  margin: 1.5rem 1.5rem 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights a {
  padding-left: 1rem;
  padding-right: 1rem;
}
